:root {
  --DARK-BLUE: #16242f;
  --SOFT-RED: #de6262;
}

.page {
  font-family: 'Ubuntu', sans-serif;
}

.section {
  display: flex;
  flex-flow: column;
  /* border: solid red 1px; */
  width: 100vw;
  margin: 1rem 0;
}

.container {
  display:grid;
  /* border: solid blue 1px; */
  margin:auto;
  max-width: 940px;
  text-align: center;
}

.content {
  /* border: solid yellow 1px; */
  padding: .5rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* FONTS */

h1, h2, h4, h5, h6 {
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: xx-large;
  font-weight: lighter;
}

h3 {
  font-weight: medium;
}

p {
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}

/***/

.footer {
  background-color: var(--DARK-BLUE);
  color: white;
  text-align: left;
}

.footer p {
  font-size: 8pt;
}

.footer h3 {
  font-size: 1.2rem;
}

.footer-heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.footer-heading p {
  font-style: italic;
}

.footer-heading h3 {
  font-size: 10pt;
}

.footer-heading img {
  margin-right: 1rem;
}

.person {
  display: flex;
  justify-content: start;
  align-items: center;
}

.tweet {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.twt-handle {
  color: aqua;
}

.email-button {
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: var(--SOFT-RED);
  color: white;
}

/***/

.header {
  display: flex;
  padding: 0;
}

.logo {
  max-width: 25%;
  align-items: flex-end;
}

.nav {
  max-width: 75%;
  justify-content: flex-end;
}

.body.crsl {
  background-color: #ebebeb;
}

.carousel {
  border: solid blue 1px;
  margin:auto;
  width: 1100px;
}

.content.banner {
  margin: 3% 0;
}

.metrolics {
  color: #1eafde;
}

.photogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* IMAGES */

.watermark-logo {
  max-width: 90%;
}

.carousel-image {
  max-width: 100%;
}

.ttwd-image {
  max-width: 50%;
  margin: 5%;
}

.samp-img-post {
  max-width: 100%;
}

.misc-content {
  max-width: 100%;
}

.tweet-icon {
  max-height: 34px;
  margin: 0 1rem;
}

/* BREAKPOINTS */

@media (min-width: 940px) {
  .title-span4 {
    grid-column: span 4;
  }
  
  .title-span3 {
    grid-column: span 3;
  }
  
  .title-span2 {
    grid-column: span 2;
  }
  
  .col5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .col4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .col3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .col2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 415px) and (max-width: 940px) {
  .title-span4 {
    grid-column: span 2;
  }
  
  .title-span3 {
    grid-column: span 2;
  }
  
  .title-span2 {
    grid-column: span 1;
  }
  
  .col5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .col4 {
    grid-template-columns: 1fr 1fr;
  }
  
  .col3 {
    grid-template-columns: 1fr 1fr;
  }
  
  .col2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 414px) {
  .ttwd {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: left;
  }
  
  .crsl {
    display: none;
  }

  .title-span4 {
    grid-column: 1;
  }
  
  .title-span3 {
    grid-column: 1;
  }
  
  .title-span2 {
    grid-column: 1;
  }
  
  .clients {
    display: none;
  }

  .col4 {
    grid-template-columns: 1fr;
  }
  
  .col3 {
    grid-template-columns: 1fr;
  }
  
  .col2 {
    grid-template-columns: 1fr;
  }

  .flickr {
    display: none;
  }

  .newsletter {
    display: none;
  }

  .about-us-text {
    display: none;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .socials img {
    margin: 2px;
  }
}